<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Panduan</title>
</head>
<body>
    <div class="container">
        <div class="containerNav">
            <nav class="wrapper">
                <div class="brand">
                    <a href="http://127.0.0.1:5000/"><div class="program">program</div></a>
                    <a href="http://127.0.0.1:5000/"><div class="untung">untung</div></a>
                    <a href="http://127.0.0.1:5000/"><div class="rugi">rugi</div></a>
                </div>
                <ul class="navigation">
                    <li><a href="http://127.0.0.1:5000/panduan" class="active">panduan</a></li>
                    <li><a href="http://127.0.0.1:5000/tentang" >tentang</a></li>
                </ul>
            </nav> 
        </div>
        <div class="panduan">
            <h3>Cara Hitung Untung dan Rugi Usaha Anda</h3>
            <ol>
                <li>Masukan Nama Usaha anda disini</li>
                <img src="/static/img/nama.png" style="width: 500px; margin-top: 5px;">
                <li style="margin-top: 6px;">Masukan periode bulan yang akan dihitung, sebagai contoh bulan Januari</li>
                <img src="/static/img/bulan.png" style="width: 500px; margin-top: 5px;">
                <li style="margin-top: 6px;">Masukan jumlah modal yang digunakan pada satu periode bulan diatas</li>
                <img src="/static/img/modal.png" style="width: 500px; margin-top: 5px;">
                <li style="margin-top: 6px;">Masukan jumlah biaya yang digunakan untuk keperluan usaha seperti untuk biaya jasa, biaya sewa atau yang lainya</li>
                <img src="/static/img/biaya.png" style="width: 500px; margin-top: 5px;">
                <li style="margin-top: 6px;">Masukan jumlah pemasukan uang yang dari hasil penjualan dalam periode bulan yang akan dihitung</li>
                <img src="/static/img/penjualan.png" style="width: 500px; margin-top: 5px;">
                <li style="margin-top: 6px;">Setelah semua sudah terisi, selanjutnya klik hitung untuk melakukan proses penghitungan</li>
                <img src="/static/img/Hitung.png" style="width: 500px; margin-top: 5px; box-shadow: 0 5px 6px 0 rgb(20, 20, 20);">
                <li style="margin-top: 6px;">Setelah klik hitung maka akan muncul hasil penghitungan untung rugi dibawahnya</li>
                <img src="/static/img/Hasil.png" style="width: 500px; margin-top: 5px; box-shadow: 0 5px 6px 0 rgb(20, 20, 20);">
                
            </ol>
        </div>
    </div>
</body>
</html>