<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Tentang</title>
</head>
<body>
    <div class="container">
        <div class="containerNav">
            <nav class="wrapper">
                <div class="brand">
                    <a href="http://127.0.0.1:5000/"><div class="program">program</div></a>
                    <a href="http://127.0.0.1:5000/"><div class="untung">untung</div></a>
                    <a href="http://127.0.0.1:5000/"><div class="rugi">rugi</div></a>
                </div>
                <ul class="navigation">
                    <li><a href="http://127.0.0.1:5000/panduan" >panduan</a></li>
                    <li><a href="http://127.0.0.1:5000/tentang" class="active">tentang</a></li>
                </ul>
            </nav> 
        </div>
    </div>
</body>
</html>